page-home {
    .header {
        margin-top: 3%;
        background:none;
    }
    .pobytMenu {
        width: 9%;
        margin: 6%
    }
    .bar-buttons,
    .toolbar-title {
        color: map-get($colors, header-toolbar-background) !important;
    }
    .content .fixed-content {
        margin-top: 0px !important;
    }
    .content .scroll-content {
        padding-top: 0px !important;
    }
    .item-inner {
        background-image: none !important;
    }
    ion-navbar ion-icon {
        font-size: 2.5em !important;
    }
    .custom-spinner-container {
        height: 100%;
        width: 100%;
        background-color: map-get($colors, theme);
    }
    .custom-spinner-box {
        background-image: url(../assets/img/Loading_Logo.png);
        background-repeat: no-repeat;
        width: 250px;
        height: 250px;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    #loaderoverlay {
        width: 100%;
        height: 100%;
        background-color: grey;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
    }
    .show-menu .content,
    .show-menu .item {
        background: map-get($colors, header-toolbar-background);
        color: map-get($colors, whiteColor);
    }
    .menu-header{
        .name{            
            font-size: 2.0rem;
            font-weight: 600;
            color: rgb(69, 189, 183);
            margin-top: 2.02vh;
        }
    }
    .menu-header{
        .profile{
            text-decoration: underline;
            font-size: 1.15rem;
            font-weight: 600;
            color: rgb(255, 255, 255);
            margin-top: 0.82vh;
        }
    }
    .menu-header{
        text-align: center;
        .oval{
            width: 23.2vw;
            margin-top: 9.6vh;
            border-radius:100px;
        }
        .user{
            width:13.6vw;
            height:5.54vh;
        }  
    }
    .info-divider{
        border-bottom: 0.2rem solid rgb(161, 161, 161);
        margin-top: 6.29vh;
        margin-bottom: 4.72vh;
        opacity: 0.15;
    }
    .menu-item{
        .label{
            font-weight: 600;
            font-size: 1.5rem;
            margin-left: 5.46vw;
            margin-bottom: 6.50vh;
        }            
        img{
            width: 5.73vw;
            margin-left: 12.26vw;
        }
    }    
    .footer-divider{
        border-bottom: 0.2rem solid rgb(161, 161, 161);
        opacity: 0.15;
    }
    .version{
        float:right;
        color:rgb(69,189,183);
        font-size: 1.25rem;
        font-weight: 200;
        margin-right: 4vw;
        margin-top: 0.86vh;
        margin-bottom: 0.86vh;
    }
    .payment{
        width:6.73vw !important;
    }
}

.map-page #map {
    width: 100%;
    height: 100%;
} 