page-newpassword {
	.close-img {
        height: 2.50rem;
        float: left;
        margin-left: 3.0rem;
        margin-top: 4.0rem;
        width: 2.30rem;
    }
    .info-label {
        margin-left: 3.05rem;
        text-align: left;
        font-size: 1.7rem;
        margin-top: 1.55rem;
        color: rgb(0,0,0);
        opacity: 0.66;
    }    
    .names-item {
        margin-left: 3.25rem;
        margin-right: 2.7rem;
    }
    .names-item .label{
        opacity: 0.8 !important;
    }
    .button.activated{
        background-color: rgb(38, 207, 198) !important;
    }
    .go-btn {
        background-color: rgb(38, 207, 198);
        box-shadow: 0rem 0.1rem 0.35rem 0.1rem rgba(0, 0, 0, 0.5);
        width: 5.9rem;
        height: 5.75rem;
        border-radius: 0.45rem;
        float: right;
        margin-right: 3.5rem;
        margin-top: 3.0rem;
    }
    .go-img {
        height: 3.45rem;
        margin: 1.15rem
    }
}
